### Some data clean up that's necessary for our project

In [65]:
import pandas as pd
import numpy as np

In [66]:
spotify = pd.read_csv('/Users/michellehewson/Desktop/Harvard/CS171/FinalProject/cs171_finalproject/data/spotify_top_charts_22.csv')  
tiktok = pd.read_csv('/Users/michellehewson/Desktop/Harvard/CS171/FinalProject/cs171_finalproject/data/TikTok_songs_2022 2.csv')

In [67]:
# Checking out our data
spotify.head()

,uri,artist_names,track_name,peak_rank,weeks_on_chart,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,tempo,time_signature,duration_ms
0,spotify:track:02MWAaffLxlfxAUY7c5dvx,Glass Animals,Heat Waves,1,65,0.761,0.525,11,-6.900,1,0.0944,0.4400,0.000007,0.0921,80.870,4,238805
1,spotify:track:5PjdY0CKGZdEuoNab3yDmX,"The Kid LAROI, Justin Bieber",STAY (with Justin Bieber),1,37,0.591,0.764,1,-5.484,1,0.0483,0.0383,0.000000,0.1030,169.928,4,141806
2,spotify:track:3IAfUEeaXRX9s9UdKOJrFI,Anitta,Envolver,3,3,0.812,0.736,4,-5.421,0,0.0833,0.1520,0.002540,0.0914,91.993,4,193806
3,spotify:track:1HhNoOuqm1a5MXYEgAFl8o,"Imagine Dragons, JID, Arcane, League of Legends",Enemy (with JID) - from the series Arcane Leag...,3,21,0.728,0.783,11,-4.424,0,0.2660,0.2370,0.000000,0.4340,77.011,4,173381
4,spotify:track:4fouWK6XVHhzl78KzQ1UjL,GAYLE,abcdefu,1,19,0.695,0.540,4,-5.692,1,0.0493,0.2990,0.000000,0.3670,121.932,4,168602

In [68]:
# For the spotify data, we just want the first artist in the artist_names column when
# we count how many songs an artist has in the top spotify charts (for simplicity)
spotify['first_artist'] = spotify['artist_names'].str.split(',').str[0]

spotify_artist_counts = spotify['first_artist'].value_counts().reset_index()
spotify_artist_counts.columns = ['artist', 'count']

spotify_artist_counts = pd.DataFrame(spotify_artist_counts)

In [69]:
spotify_artist_counts.head()

           artist  count
0       Bad Bunny     29
1      The Weeknd     27
2  Kendrick Lamar     21
3    Harry Styles     18
4           Drake     18

In [70]:
tiktok.head()
tiktok_artist_counts = tiktok['artist_name'].value_counts().reset_index()
tiktok_artist_counts.columns = ['artist', 'count']

In [71]:
tiktok_artist_counts.head(5)

      artist  count
0   Doja Cat      8
1     Coopex      6
2  Dame Dame      5
3  Lil Nas X      4
4      Farux      4

In [72]:
spotify_artist_counts.to_csv('spotify_artist_counts.csv', index=False)
tiktok_artist_counts.to_csv('tiktok_artist_counts.csv', index=False)